
<script type="text/javascript">
	$(function(){
		//setInterval(updateBuses,30000);
		updateLightChart()
	});

	function updateLightChart(){
		data = [{room:"Mike",utilization:50},
				{room:"Conor",utilization:42},
				{room:"Matt",utilization:60},
				{room:"Jacob",utilization:41},
				{room:"Common",utilization:54}]
		$("#lightSvg").height($("#lightOnDiv").height()*2)
		var svg = d3.select("#lightSvg"),
		    margin = {top: 5, right: 20, bottom: 50, left: 40},
		    width = +$("#lightSvg").width() - margin.left - margin.right,
		    height = +$("#lightSvg").height() - margin.top - margin.bottom;

		var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
		    y = d3.scaleLinear().rangeRound([height, 0]);

		var g = svg.append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		// d3.tsv("data.tsv", function(d) {
		// 	d.frequency = +d.frequency;
		// 	return d;
		// }, function(error, data) {
		  // if (error) throw error;

		  x.domain(data.map(function(d) { return d.room; }));
		  y.domain([0, 100]);

		  g.append("g")
		      .attr("class", "axis axis--x")
		      .attr("transform", "translate(0," + height + ")")
		      .call(d3.axisBottom(x))
		      .selectAll("text")	
		        .style("text-anchor", "end")
		        .attr("dx", "-.8em")
		        .attr("dy", ".15em")
		        .attr("transform", "rotate(-65)")

		  g.append("g")
		      .attr("class", "axis axis--y")
		      .call(d3.axisLeft(y))
		    .append("text")
		      .attr("transform", "rotate(-90)")
		      .attr("y", 6)
		      .attr("dy", "0.71em")
		      .attr("text-anchor", "end")
		      .text("Frequency");

		  g.selectAll(".bar")
		    .data(data)
		    .enter().append("rect")
		      .attr("class", "bar")
		      .attr("x", function(d) { return x(d.room); })
		      .attr("y", function(d) { return y(d.utilization); })
		      .attr("fill","teal")
		      .attr("width", x.bandwidth())
		      .attr("height", function(d) { return height - y(d.utilization); });
		// });

	}
</script>
<style type="text/css">
</style>
<h4 class="height5" style="padding-left:1.5em">Apartment Status:</h4>
<div class="uk-grid-collapse height95" uk-grid>
	<!-- Light Utilization -->
	<div class="uk-width-1-4" id="lightOnDiv">

		<h5 style="text-align: center;">% Lights On Time</h5>
		<svg id="lightSvg" style="width:100%; height:100%;"></svg>
	</div>
</div>